# Ignore compiled Java class files
*.class
*.jar

# Ignore Visual Studio Code workspace settings
.vscode/
*.code-workspace

# Ignore build directories
/bin/
*/bin/
*/obj/
*/out/

# Ignore logs and cache files
*.log
/.cache/

/*.tmp  # Ignore temporary files

# Ignore IntelliJ/Android Studio-specific files
.idea/
*.iml